{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<h1>Yangi post hosil qilish</h1>
<form action="" method="post">{% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Blog hosil qilish">

</form>
{% else %}
<div>
<h2 style="color: red;">Siz ro'yxatdan o'tmagansiz. Iltimos ro'yxatdan o'ting</h2>
<a href="{% url 'signup' %}" style="color: red; margin-left: 5%;" >Ro'yxatdan o'tish</a>
<a href="{% url 'login' %}" style="margin-left:50%;">Saytga kirish</a>
</div>
{% endif %}
{% endblock %}